<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog, version=3.1.0.0, publicKeyToken=5120e14c03d0593c, culture=neutral" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="f" xsi:type="File" fileName="${basedir}/logs/TeamCityConsole_${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${threadid}|${logger}|${message}" />
      <target name="console" xsi:type="Console" layout="${level:uppercase=true}:${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="f" />
      <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
  </nlog>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="teamcityuri" value="teamcitytest:8080" />
    <add key="username" value="ciserver" />
    <add key="password" value="ciserver" />
    <add key="selfUpdateBuildConfigId" value="CwiInternal_TeamCityApi_Master" />
  </appSettings>
</configuration>