<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibGit2Sharp" version="0.25.3" targetFramework="net461" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.235" targetFramework="net461" />
  <package id="LibLog" version="4.2.3" targetFramework="net451" developmentDependency="true" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net451" />
  <package id="NGitLab.Plus" version="2.0.13" targetFramework="net451" />
</packages>